<mat-toolbar color="primary">
        <a routerLink="/anuncios"><span>Fast Sell</span></a>
    <span class="spacer"></span>
    <div class="link-area">
        <a mat-button>
            <mat-icon>search</mat-icon>
            Buscar
        </a>
        <a mat-button>
            <mat-icon>add</mat-icon>
            Anunciar
        </a>
        <button (onmouseenter)="menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Perfil">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>storage</mat-icon>
                <span>Meus Anúncios</span>
            </button>
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Minha Conta</span>
            </button>
            <button mat-menu-item routerLink="/auth/login">
                <mat-icon>login</mat-icon>
                <span>Entrar</span>
            </button>
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Sair</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>